.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.content {
    background-color: gold;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
}
